<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/main.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/tournamaker.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/tournamaker.styles.css" asp-append-version="true" />
    <base href="~/" />
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">tournamaker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Scoreboard">Scoreboard</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>*@

        <nav>
            <div class="navbar">
                <ul class="main_nav_list">
                    <li><a class="main_nav_link" asp-area="" asp-page="/Index">Accueil</a></li>
                    <li><a class="main_nav_link" asp-page="/Scoreboard">Scoreboard</a></li>
                    <li><a class="main_nav_link" href="#">Membres</a></li>
                </ul>

                <div class="log_list">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        @*<svg class="svg"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="-0.01 -0.11 10.62 0.32">
            <path d="m 0 0 H 2.4 L 2.6 -0.1 H 10.6 M 8.6 0 H 10.5 M 0 0.1 H 1.7 M 0 0.2 H 0.8"
                  stroke="#f03e3e"
                  stroke-width="0.01"
                  fill="none" />
        </svg>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="section_footer">
        <p class="text_footer">
            &copy; 2022 - Tournamaker - Tous droits réservés
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
