.box_btn:link,
.box_btn:active,
.box_btn:visited {
  color: white;
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.box_btn:hover {
  background: #c92a2a;
}

.log_btn {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 10rem;
}

.log_btn:hover {
  background: #c92a2a;
}
