@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<section class="section_login">
    <h3 class="log_title">@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                </div>
                <div class="form-floating">
                    <label asp-for="Input.Name" class="form-label"></label>
                    <input asp-for="Input.Name" class="form-control" />
                </div>
                <button id="update-profile-button" type="submit" class="save_btn">Save</button>
            </form>
</section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
