.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0 1rem 2rem;
  background: red;
  margin-bottom: 10rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.svg {
  background: #000;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.main_nav_list {
  display: flex;
  gap: 3rem;
  padding-right: 2rem;
  list-style-type: none;
}

.main_nav_link:link,
.main_nav_link:active,
.main_nav_link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #dee2e6;
  transition: all 0.2s;
}

.log_link:link,
.log_link:active,
.log_link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #adb5bd;
  transition: all 0.2s;
}

.main_nav_link:hover,
.log_link:hover {
  color: #fff;
}
