
<div class="scoreboard">
<h3 class="title_sb">Scoreboard</h3>
<div class="score_sb">
    <div class="player">   
        <input class="player1_sb" type="text" name="name" value="Player 1" />
        <p class="player_score">@Score1</p>
        <div class="button_sb">
            <button class="button-add-pushable" role="button" @onclick="Add1">
                <span class="button-add-shadow"></span>
                <span class="button-add-edge"></span>
                <span class="button-add-front text">+</span>
            </button>
            <button class="button-add-pushable" role="button" @onclick="Less1">
                <span class="button-add-shadow"></span>
                <span class="button-add-edge"></span>
                <span class="button-add-front text">–</span>
            </button>
        </div>
        
    </div>
    <div class="score_tiret">-</div>
    <div class="player">
        <input class="player2_sb" type="text" name="name" value="Player 2" />
        <p class="player_score">@Score2</p>
        <div class="button_sb">
            <button class="button-add-pushable" role="button" @onclick="Add2">
                <span class="button-add-shadow"></span>
                <span class="button-add2-edge"></span>
                <span class="button-add2-front text">+</span>
            </button>
            <button class="button-add-pushable" role="button" @onclick="Less2">
                <span class="button-add-shadow"></span>
                <span class="button-add2-edge"></span>
                <span class="button-add2-front text">–</span>
            </button>
        </div>
        </div>
    </div>
<div class="reset_sb">
    <button class="button-reset-pushable" role="button" @onclick="Reset">
        <span class="button-reset-shadow"></span>
        <span class="button-reset-edge"></span>
        <span class="button-reset-front text">Reset Score</span>
    </button>
</div>
</div>

@code {
    private int Score1 { get; set; }
    private int Score2 { get; set; }
  

    private void Add1()
    {
        Score1++;
    }

    private void Less1()
    {
        if (Score1 > 0 )
            Score1--;
    }

    private void Add2()
    {
        Score2++;
    }

    private void Less2()
    {
        if (Score2 > 0)
            Score2--;
    }

    private void Reset()
    {
        Score2 = 0;
        Score1 = 0;
    }

}
