
<div class="scoreboard">
<h3 class="title_sb">Scoreboard</h3>
<div class="score_sb">
    <div class="player">
        <h3 class="player_name">@Player1</h3>
        <input type="text" name="name" value="Player1" />
        <p class="player_score">@Score1</p>
        <button @onclick="Add1">Add</button>
        <button @onclick="Less1">Less</button>
        
    </div>
    <div class="score_tiret">-</div>
    <div class="player">
        <h3 class="player_name">@Player2</h3>
        <input type="text" name="name" value="Player2" />
        <p class="player_score">@Score2</p>
        <button @onclick="Add2">Add</button>
        <button @onclick="Less2">Less</button>

    </div>
</div>
<div class="reset_sb">
    <button @onclick="Reset">Reset Score</button>
</div>
</div>

@code {
    private int Score1 { get; set; }
    private int Score2 { get; set; }
    private string? Player1 { get; set; }
    private string? Player2 { get; set; }

    private void Add1()
    {
        Score1++;
    }

    private void Less1()
    {
        if (Score1 > 0 )
            Score1--;
    }

    private void Add2()
    {
        Score2++;
    }

    private void Less2()
    {
        if (Score2 > 0)
            Score2--;
    }

    private void Reset()
    {
        Score2 = 0;
        Score1 = 0;
    }

}
