@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<svg class="svg"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="-0.01 -0.11 10.62 0.32">
    <path d="m 0 0 H 2.4 L 2.6 -0.1 H 10.6 M 8.6 0 H 10.5 M 0 0.1 H 1.7 M 0 0.2 H 0.8"
          stroke="#f03e3e"
          stroke-width="0.01"
          fill="none" />
</svg>

<section class="section_hero">
    <div class="box_information">
        <h1 class="box_title">TournaMaker</h1>
        <p class="box_description">
            @*Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non ex est
            in! Quos voluptatum repellendus obcaecati quo, quas nobis ratione
            eaque quisquam esse nisi explicabo dolore iure excepturi. Asperiores,
            modi. Lorem ipsum dolor sit amet consectetur.*@
            Un vrai texte
        </p>
        <div class="center_anchor">
            <a class="box_btn" href="">Créer votre tournoi</a>
        </div>
    </div>
    <div class="img_box">
        <img src="~/img/toornament-hero.png" alt="" />
    </div>
</section>