@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using tournamaker.Areas.Identity.Data

@inject SignInManager<tournamakerUser> SignInManager
@inject UserManager<tournamakerUser> UserManager
@{
    ViewData["Title"] = "TournaMaker";
}



<section class="section_hero">
    <div class="box_information">
        <h1 class="box_title">TournaMaker</h1>
        <p class="box_description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non ex est
            in! Quos voluptatum repellendus obcaecati quo, quas nobis ratione
            eaque quisquam esse nisi explicabo dolore iure excepturi. Asperiores,
            modi. Lorem ipsum dolor sit amet consectetur.
        </p>
        <div class="center_anchor">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="box_btn" asp-page="/Tournoi">Créer votre tournoi</a>
            }
            else
            {
                <a class="box_btn" asp-area="Identity" asp-page="/Account/Login">Créer votre tournoi</a>
            }

        </div>
    </div>
    <div class="img_box">
        <img src="~/img/toornament-hero.png" alt="" />
    </div>
</section>