
@page
@model tournamaker.Pages.TournoiModel
@{
    ViewData["Title"] = "Tournoi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}




            
    <h1>Tournoi</h1>

<h4>Tournoi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Tournoi.id_user" class="control-label"></label>
                    <input asp-for="Tournoi.id_user" class="form-control" />
                    <span asp-validation-for="Tournoi.id_user" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Tournoi.nom_tournoi" class="control-label"></label>
                <input asp-for="Tournoi.nom_tournoi" class="form-control" />
                <span asp-validation-for="Tournoi.nom_tournoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournoi.nombre_participant" class="control-label"></label>
                <input asp-for="Tournoi.nombre_participant" class="form-control" />
                <span asp-validation-for="Tournoi.nombre_participant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
