@import "_variables.css";
@import "_variables.css";
@import "_variables.css";
@import "_variables.css";
.section_login {
  max-width: 50rem;
  margin: auto;
}

.log_title {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1.8rem;
}

.log_description {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1.6rem;
}

hr {
  margin-bottom: 2.4rem;
}

.form-floating {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
}

.form-label {
  font-size: 2rem;
  color: #fff;
}

.form-control {
  font-size: 2rem;
  width: 40rem;
  padding: 0.5rem;
}

.text-danger {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: red;
}

.remember {
  margin-bottom: 2rem;
}

.forgot_password:link, .forgot_password:active, .forgot_password:visited {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #fff;
  margin-bottom: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #24203f;
  height: 100vh;
}

.box_btn:link,
.box_btn:active,
.box_btn:visited {
  color: white;
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.box_btn:hover {
  background: #c92a2a;
}

.log_btn {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 10rem;
}

.log_btn:hover {
  background: #c92a2a;
}

.save_btn {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.save_btn:hover {
  background: #c92a2a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0 1rem 2rem;
  background: black;
}

.svg {
  background: #000;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.main_nav_list {
  display: flex;
  gap: 3rem;
  padding-right: 2rem;
  list-style-type: none;
}

.main_nav_link:link,
.main_nav_link:active,
.main_nav_link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #dee2e6;
  transition: all 0.2s;
}

.log_link:link,
.log_link:active,
.log_link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #adb5bd;
  transition: all 0.2s;
}

.main_nav_link:hover,
.log_link:hover {
  color: #fff;
}

.section_footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.text_footer {
  font-size: 1.8rem;
  color: #fff;
}

.section_profile {
  display: flex;
}

.profil_link {
  background-color: #EEEEEE;
  padding: 8px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  margin-right: 10rem;
  color: black;
}

.profil_link:link, .profil_link:active, profil_link:visited {
  font-size: 2rem;
  color: #fff;
}

.profil_link:hover {
  background-color: red;
  color: white;
}

.status_profile {
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
}

.delete_data_form {
  font-size: 2rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.delete_data_link {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.delete_data_link:hover {
  background: #c92a2a;
}

body {
  color: white;
}
body .title_sb {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 4rem;
}
body .scoreboard {
  width: 80rem;
  margin: auto;
}
body .score_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .score_sb .player {
  display: flex;
  flex-direction: column;
}
body .score_sb .player .player1_sb {
  color: red;
}
body .score_sb .player .player2_sb {
  color: dodgerblue;
}
body .score_sb .player .player_score {
  font-family: "Bungee Outline", cursive;
  font-size: 10rem;
  text-align: center;
}
body .score_sb .player input {
  font-size: 2rem;
  text-align: center;
  color: white;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0);
}
body .score_sb .player input:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
body .score_sb .player .button_sb {
  display: flex;
  justify-content: center;
  gap: 15px;
}
body .score_sb .player .button_sb .button-add-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10rem;
}
body .score_sb .player .button_sb .button-add-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
body .score_sb .player .button_sb .button-add-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, #52001b 0%, #a30036 8%, #a30036 92%, #52001b 100%);
}
body .score_sb .player .button_sb .button-add2-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: deepskyblue;
}
body .score_sb .player .button_sb .button-add-front {
  display: block;
  position: relative;
  padding: 5px 22px;
  border-radius: 12px;
  font-size: 5rem;
  color: white;
  background: #f0003c;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
body .score_sb .player .button_sb .button-add2-front {
  display: block;
  position: relative;
  padding: 5px 22px;
  border-radius: 12px;
  font-size: 5rem;
  color: white;
  background: dodgerblue;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
@media (min-width: 768px) {
  body .score_sb .player .button_sb .button-add-front {
    /* font-size: 1.25rem; */
    /* padding: 12px 42px; */
  }
}
body .score_sb .player .button_sb .button-add-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
body .score_sb .player .button_sb .button-add-pushable:hover .button-add-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
body .score_sb .player .button_sb .button-add-pushable:hover .button-add2-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
body .score_sb .player .button_sb .button-add-pushable:active .button-add-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
body .score_sb .player .button_sb .button-add-pushable:active .button-add2-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
body .score_sb .player .button_sb .button-add-pushable:hover .button-add-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
body .score_sb .player .button_sb .button-add-pushable:active .button-add-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
body .score_sb .player .button_sb .button-add-pushable:focus:not(:focus-visible) {
  outline: none;
}
body .score_sb .player .button_sb .button_less_sb {
  width: 50px;
  height: 50px;
  font-size: 45px;
}
body .score_tiret {
  font-size: 15rem;
}
body .reset_sb {
  display: flex;
  justify-content: center;
}
body .reset_sb .button-reset-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10rem;
}
body .reset_sb .button-reset-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
body .reset_sb .button-reset-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: DarkMagenta;
}
body .reset_sb .button-reset-front {
  display: block;
  position: relative;
  padding: 5px 22px;
  border-radius: 12px;
  font-size: 5rem;
  color: white;
  background: DarkViolet;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
@media (min-width: 768px) {
  body .reset_sb .button-reset-front {
    /* font-size: 1.25rem; */
    /* padding: 12px 42px; */
  }
}
body .reset_sb .button-reset-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
body .reset_sb .button-reset-pushable:hover .button-reset-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
body .reset_sb .button-reset-pushable:active .button-reset-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
body .reset_sb .button-reset-pushable:hover .button-reset-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
body .reset_sb .button-reset-pushable:active .button-reset-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
body .reset_sb .button-reset-pushable:focus:not(:focus-visible) {
  outline: none;
}
body .reset_sb .button_reset_sb {
  font-size: 20px;
}

.title_logout {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 15rem;
}

.button_logout_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout_btn {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  display: block;
}

.logout_btn:hover {
  background: #c92a2a;
}

.password_forget_description {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1.6rem;
  text-align: center;
}
