@import "_variables.css";
@import "_variables.css";
@import "_variables.css";
.section_login {
  max-width: 50rem;
  margin: auto;
}

.log_title {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 1.8rem;
}

.log_description {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.6rem;
}

hr {
  margin-bottom: 2.4rem;
}

.form-floating {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
}

.form-label {
  font-size: 2rem;
  color: #fff;
}

.form-control {
  font-size: 2rem;
  width: 40rem;
  padding: 0.5rem;
}

.text-danger {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: red;
}

.remember {
  margin-bottom: 2rem;
}

.forgot_password:link, .forgot_password:active, .forgot_password:visited {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #fff;
  margin-bottom: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(225deg, #212529 0%, #0f2943 100%);
}

.box_btn:link,
.box_btn:active,
.box_btn:visited {
  color: white;
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.box_btn:hover {
  background: #c92a2a;
}

.log_btn {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  background: red;
  padding: 1rem 2rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 10rem;
}

.log_btn:hover {
  background: #c92a2a;
}
