

@import url('http://fonts.cdnfonts.com/css/score-board');



body {
    color: white;


    .title_sb {
        text-align: center;
        font-size: 6rem;
        margin-bottom: 4rem;
    }

    .scoreboard {
        width: 80rem;
        margin: auto;
    }

    .score_sb {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .player {
        display: flex;
        flex-direction: column;

        .player_name {
            font-size: 2rem;
        }

        .player_score {
            //font-family: 'Silkscreen', cursive;
            font-family: 'Bungee Outline', cursive;
            font-size: 10rem;
            text-align: center;
        }

        input {
            font-size: 2rem;
            text-align: center;
            color: white;
            background: none;
            border: 1px solid rgba(255, 255, 255, 0);
        }

        input:hover {
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
    }





    .score_tiret {
        font-size: 15rem;
    }

    .reset_sb {
        display: flex;
        justify-content: center;
    }
}
