@import url("http://fonts.cdnfonts.com/css/score-board");
body {
  color: white;
}
body .title_sb {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 4rem;
}
body .scoreboard {
  width: 80rem;
  margin: auto;
}
body .score_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .player {
  display: flex;
  flex-direction: column;
}
body .player .player_name {
  font-size: 2rem;
}
body .player .player_score {
  font-family: "Bungee Outline", cursive;
  font-size: 10rem;
  text-align: center;
}
body .player input {
  font-size: 2rem;
  text-align: center;
  color: white;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0);
}
body .player input:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
body .score_tiret {
  font-size: 15rem;
}
body .reset_sb {
  display: flex;
  justify-content: center;
}
