
body {
    color: white;
    padding-top: 20rem;

    .title_sb {
        text-align: center;
        font-size: 6rem;
        margin-bottom: 4rem;
    }

    .scoreboard {
        width: 80rem;
        margin: auto;
    }

    .score_sb {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .player {
            display: flex;
            flex-direction: column;

            .player1_sb {
                color: red;
            }

            .player2_sb {
                color: dodgerblue;
            }

            .player_score {
                //font-family: 'Silkscreen', cursive;
                font-family: 'Bungee Outline', cursive;
                font-size: 10rem;
                text-align: center;
            }

            input {
                font-size: 2rem;
                text-align: center;
                color: white;
                background: none;
                border: 1px solid rgba(255, 255, 255, 0);
            }

            input:hover {
                border: 1px solid rgba(255, 255, 255, 0.1);
            }

            .button_sb {
                display: flex;
                justify-content: center;
                gap: 15px;


                .button-add-pushable {
                    position: relative;
                    border: none;
                    background: transparent;
                    padding: 0;
                    cursor: pointer;
                    outline-offset: 4px;
                    transition: filter 250ms;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    margin-bottom: 10rem;
                }

                .button-add-shadow {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    background: hsl(0deg 0% 0% / 0.25);
                    will-change: transform;
                    transform: translateY(2px);
                    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
                }


                .button-add-edge {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    background: linear-gradient( to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100% );
                }

                .button-add2-edge {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    background: deepskyblue;
                }



                .button-add-front {
                    display: block;
                    position: relative;
                    padding: 5px 22px;
                    border-radius: 12px;
                    font-size: 5rem;
                    color: white;
                    background: hsl(345deg 100% 47%);
                    will-change: transform;
                    transform: translateY(-4px);
                    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
                }

                .button-add2-front {
                    display: block;
                    position: relative;
                    padding: 5px 22px;
                    border-radius: 12px;
                    font-size: 5rem;
                    color: white;
                    background: dodgerblue;
                    will-change: transform;
                    transform: translateY(-4px);
                    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
                }

                @media (min-width: 768px) {
                    .button-add-front {
                        /* font-size: 1.25rem; */
                        /* padding: 12px 42px; */
                    }
                }

                .button-add-pushable:hover {
                    filter: brightness(110%);
                    -webkit-filter: brightness(110%);
                }

                .button-add-pushable:hover .button-add-front {
                    transform: translateY(-6px);
                    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
                }

                .button-add-pushable:hover .button-add2-front {
                    transform: translateY(-6px);
                    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
                }

                .button-add-pushable:active .button-add-front {
                    transform: translateY(-2px);
                    transition: transform 34ms;
                }

                .button-add-pushable:active .button-add2-front {
                    transform: translateY(-2px);
                    transition: transform 34ms;
                }

                .button-add-pushable:hover .button-add-shadow {
                    transform: translateY(4px);
                    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
                }

                .button-add-pushable:active .button-add-shadow {
                    transform: translateY(1px);
                    transition: transform 34ms;
                }


                .button-add-pushable:focus:not(:focus-visible) {
                    outline: none;
                }

                .button_less_sb {
                    width: 50px;
                    height: 50px;
                    font-size: 45px;
                }
            }
        }
    }





    .score_tiret {
        font-size: 15rem;
    }

    .reset_sb {
        display: flex;
        justify-content: center;

        .button-reset-pushable {
            position: relative;
            border: none;
            background: transparent;
            padding: 0;
            cursor: pointer;
            outline-offset: 4px;
            transition: filter 250ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            margin-bottom: 10rem;
        }

        .button-reset-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background: hsl(0deg 0% 0% / 0.25);
            will-change: transform;
            transform: translateY(2px);
            transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
        }

        .button-reset-edge {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background: DarkMagenta;
        }

        .button-reset-front {
            display: block;
            position: relative;
            padding: 5px 22px;
            border-radius: 12px;
            font-size: 5rem;
            color: white;
            background: DarkViolet;
            will-change: transform;
            transform: translateY(-4px);
            transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
        }

        @media (min-width: 768px) {
            .button-reset-front {
                /* font-size: 1.25rem; */
                /* padding: 12px 42px; */
            }
        }

        .button-reset-pushable:hover {
            filter: brightness(110%);
            -webkit-filter: brightness(110%);
        }

        .button-reset-pushable:hover .button-reset-front {
            transform: translateY(-6px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
        }

        .button-reset-pushable:active .button-reset-front {
            transform: translateY(-2px);
            transition: transform 34ms;
        }

        .button-reset-pushable:hover .button-reset-shadow {
            transform: translateY(4px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
        }

        .button-reset-pushable:active .button-reset-shadow {
            transform: translateY(1px);
            transition: transform 34ms;
        }

        .button-reset-pushable:focus:not(:focus-visible) {
            outline: none;
        }

        .button_reset_sb {
            font-size: 20px;
        }
    }
}
