@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<section class="section_login">
    <h1 class="log_title">@ViewData["Title"]</h1>
    <h2 class="log_description">Enter your email.</h2>
    <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input placeholder="example@hotmail.com" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="log_btn">Reset Password</button>
            </form>
    </section>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
