@import "_variables.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #24203f;
  height: 100vh;
  overflow-x: hidden;
}
